.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.isabelle {
    color: black;
    font-family: "Bebas Neue";
    font-size: 40px;
    display: flex; 
    margin-bottom: 15px;
    margin-top: 15px;
}


.links {
    font-family: "Bebas Neue";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.links > a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    
}
.links > a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 95, 162);
}