

.splash {
    display: flex;
    justify-content: center;

}

.splash-text {
    font-family: "Slabo 27px";
    // max-width: 40%;
    position: absolute;
    //  color: rgb(255, 95, 162);
    font-size: 30px;
}
