
.splash-text {
    display: flex;
    line-height: 30px;
    margin-left: 8%;
    margin-top: 100px;
    font-family: "Slabo 27px";
    max-width: 40%;
    position: absolute;
    font-size: 20px;
    
}

body {
    background-color: #fcf5f8;

}

body {
    // background-color: #fae5ee;
        // background-color: #fcf5f8;

}


.aboutme{
    display: flex;
    margin-left: 8%;
    margin-top: 50px;
    letter-spacing: 3px;
    font-family: "Bebas Neue";
    position: absolute;
    font-size: 30px;
}

.profile_photo {
    position: absolute;
    margin-left: 55%;
    height: 420px;
    margin-top: 50px;
    border-radius: 20px;

}